<h3>Recent Activity</h3>
<hr />
{% for comment in comments %}
  <div>
    <small><a href="{% url 'user-profile' comment.user.id %}">@{{ comment.user }}</a> {{ comment.created|timesince }} ago</small>
    <small>Replied to "{{ comment.room }}"</small>
    <!-- the return is sliced at 50 characters as specified in the model -->
    <p>{{ comment }}</p>
    {% if request.user == comment.user %}
      <a href=" {% url 'update-message' comment.id %}">Edit</a>
      <a href="{% url 'delete-message' comment.id %}">Delete</a>
    {% endif %}
    <hr />
  </div>
{% endfor %}
