{% extends "main.html" %} {% block content %}
    <div class="grid grid-cols-3 gap-4">
        <div>{% include "base/topics_components.html" %}</div>
        <div>
            <h4 class="text-[16px]">{{ room_count }} rooms available</h4>
            <a href=" {% url 'create-room' %} " class="text-blue-400 cursor-pointer">Create Room</a>
            {% include "base/feed_component.html" %}
        </div>
        <div>{% include "base/activity_component.html" %}</div>
    </div>
{% endblock content %}
